@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}


 @{
                var selection = Umbraco.Content(Guid.Parse("7e607926-af66-4ed7-8ee3-540cff63bdeb"))
                .DescendantsOfType("generalArticles")
                .Where(x => x.IsVisible())
                .OrderByDescending(x => x.CreateDate)
                .Take(10);
            }

            @foreach (var item in selection)
            {
             <a href="@item.Url()">
                <div>
                    @item.Value("title")
                </div>
                 
                @{
                var image = item.Value<IPublishedContent>("leadImage");
                }

                        <div>
                            <img src="@image.Url()" class="img-fluid"/></div>
            </a>
              }


